*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,50,0.5), rgb(0, 0, 50, 0.5)), url(abc.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}
.form-box{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	background: #fff;
	padding: 50px, 60px, 70px;
	text-align: center;
	visibility: visible;
}


.hide{
	top: 0;
	transform: translate(-50%, -50%) scale(0.1);
	visibility: hidden;
}

.form-box h1{
	font-size: 30px;
	margin-bottom: 50px;
	margin-top: 35px;
	color: #6600ff;
	position: relative;
}

.form-box h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background: #6600ff;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);

}

.input-field{
	background: #eef2f3;
	margin: 15px 25px;
	border-radius: 15px;
	display: flex;
	align-items: center;
}
input{
	width: 100%;
	background: transparent;
	border: 0;
	font-size: 22px;
	letter-spacing: 5px;
	outline: 0;
	padding: 10px 12px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.input-field i{
	margin-left: 15px;
	color: #999;
}

.btn-field{
	width: 100%;
	display: flex;
}

.btn{

	width: ;
  	padding-right: 32px;
  	padding-left: 32px;
  	height: 35px;
  	margin: 25px;
  	font-family: arimo;
  	font-size: 1.1rem;
  	border: none;
  	border-radius: 25px;
  	letter-spacing: 2px;
  	cursor: pointer;
  	color: #fff;		
	background: #3c00a0;
}

.input-phone{
	height: 80px;
}

.popup{
	width: 600px;
	background: #fff;
	border-radius: 6px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.1);
	text-align: center;
	padding: 0 30px 30px;
	color: #333;
	visibility: hidden;
	transition: transform 0.4s, top 0.4s;
}

.open-popup{
	visibility: visible;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
}

.popup h1{
	font-size: 26px;
	margin-bottom: 50px;
	margin-top: 35px;
	color: #6600ff;
	position: relative;
}

.popup h1::after{
	content: '';
	width: 65px;
	height: 4px;
	border-radius: 3px;
	background: #6600ff;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translate(-50%);

}


.otpinput{
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.otpinput input{
  margin: 10px;
  height: 35px;
  width: 55px;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: arimo;
  font-size: 1.2rem;
  background: #eef2f3;

}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
.popup button{
  width: ;
  padding-right: 22px;
  padding-left: 22px;
  height: 30px;
  margin: 75px auto 0px auto;
  font-family: arimo;
  font-size: 1.1rem;
  border: none;
  border-radius: 25px;
  letter-spacing: 2px;
  cursor: pointer;
  background: #6fd649;
  color: #fff;
}

.cnum{
	margin: 12px;
	position: absolute;
}
.cnum a{
	font-size: 14px;
	padding-inline: 80px;
	position: relative;
}



